<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/common :: head('게시판')}">
    </head>
    <body>
        <nav
            class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
            th:replace="~{fragments/common :: menu('item')}"
        ></nav>

        <div class="container">
            <h1>상품 목록</h1>
            <form class="form-inline d-flex justify-content-end" method="GET" th:object="${itemSearchRequest}" th:action="@{/item/list}">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="name" class="sr-only">검색</label>
                    <input type="text" class="form-control mr-sm-2" id="name" name="name" placeholder="상품명" th:field="*{name}"/>
                    <label for="itemType" class="sr-only">검색</label>
                    <select class="form-control" id="itemType" name="itemType" th:field="*{itemType}">
                        <option value="">상품구분</option>
                        <option th:each=
                                        "type : ${T(com.coffeekiosk.coffeekiosk.domain.item.ItemType).values()}"
                                th:value="${type}"
                                th:text="${type.name}">option
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-light mb-2 mr-2">검색</button>
                <a type="button" class="btn btn-light mb-2" th:href="@{/item/new}">새 상픔 등록</a>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">상품명</th>
                        <th scope="col">상품구분</th>
                        <th scope="col">가격</th>
                        <th scope="col">최근 수정일</th>
                    </tr>
                </thead>
                <tbody id="itemBody">
                    <tr id="itemList" th:each="item : ${items}">
                        <input type="hidden" th:value="${item.id}">
                        <input type="hidden" th:value="${lastPage}">
                        <td>
                            <a th:text="${item.name}" th:href="@{/item/{itemId}(itemId=${item.id})}">아이스아메리카노</a
                            >
                        </td>
                        <td th:text="${item.itemType.name}">커피</td>
                        <td th:text="${item.price}">1000</td>
                        <td th:text="${#temporals.format(item.lastModifiedDateTime, 'yyyy-MM-dd HH:mm:ss')}">@mdo</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <button type="button" class="btn btn-link" id="seeMore">더보기</button>
            </div>
        </div>
    </body>
</html>


<script>
var lastId, isLastPage;

$(document).ready(function(){
    checkLastPage();

    openNextPage();
});

function checkLastPage() {
    lastId = $('tr:last').find('input:first').val();
    isLastPage = $('tr:last').find('input:first').next().val();

    removeSeeMoreBtn();
}

function openNextPage() {
    $("#seeMore").click(function(){
        var name = $('#name').val();
        var itemType = $('#itemType').val();

        $.ajax({
        type: "get",
        url: "/item/nextPage?itemId=" + lastId + "&name=" + name + "&itemType=" + itemType,
        data: {},
            success: (fragment)=>{
                $('#itemBody').append(fragment);

                checkLastPage();
            },
            error: (error)=>{
                console.log(error);
            }
        })
    });
}

function removeSeeMoreBtn() {
    if (isLastPage == 'true') {
        $('#seeMore').remove();
    }
}


</script>


