<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
            th:replace="~{fragments/common :: menu('orderHistory')}"></nav>

        <div class="container">
            <div class="text-center">
                <h2 style="margin-bottom:50px;margin-top:50px" th:text="'주문에 실패했습니다. 다시 시도해주세요'"></h2>
                <a type="button" class="btn btn-secondary" th:href="@{/order/history}">
                    취소
                </a>
            </div>
        </div>
    </body>
</html>
