<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/common :: head}"></head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
            th:replace="~{fragments/common :: menu('order')}"></nav>

        <div class="container">
            <h1>메뉴</h1>
            <form class="form-inline d-flex justify-content-end" method="GET" th:object="${itemSearchRequest}" th:action="@{/menu/list}">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="name" class="sr-only">검색</label>
                    <input type="text" class="form-control mr-sm-2" id="name" name="name" placeholder="메뉴명" th:field="*{name}"/>
                    <label for="itemType" class="sr-only">검색</label>
                    <select class="form-control" id="itemType" name="itemType" th:field="*{itemType}">
                        <option value="">구분</option>
                        <option th:each="type : ${T(com.coffeekiosk.coffeekiosk.domain.item.ItemType).values()}"
                                th:value="${type}"
                                th:text="${type.name}">option
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-light mb-2 mr-2">검색</button>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">메뉴명</th>
                        <th scope="col">구분</th>
                        <th scope="col">가격</th>
                    </tr>
                </thead>
                <tbody id="itemBody">
                    <tr id="itemList" th:each="item : ${items}">
                        <input type="hidden" th:value="${item.id}">
                        <input type="hidden" th:value="${lastPage}">
                        <td>
                            <a th:text="${item.name}" th:href="@{/menu/{itemId}(itemId=${item.id})}">아이스아메리카노</a>
                        </td>
                        <td th:text="${item.itemType.name}">커피</td>
                        <td th:text="${item.price}">1000</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <button class="btn btn-link" id="seeMore">더보기</button>
            </div>
        </div>
    </body>
    <footer th:replace="~{fragments/common :: footer}"></footer>
    <script src="/js/menu.js"></script>
</html>


