<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common :: head}"></head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="~{fragments/common :: menu('home')}"></nav>

<main role="main" class="container">
    <div class="starter-template">
        <h1>Coffee Kiosk</h1>
        <p class="lead">커피 주문 시스템</p>

        <div sec:authorize="isAuthenticated()">
            Logged in as: <span th:text="${user.name}"></span> (<span th:text="${user.role}"></span>)
            <a href="/logout" class="btn btn-outline-dark">로그아웃</a>
            <button type="button" id="updateRole" class="btn btn-outline-primary">권한 변경 (사용자 <-> 관리자)</button>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a href="/oauth2/authorization/google" class="btn btn-outline-primary">Google Login</a>
        </div>
    </div>
</main>
</body>
<footer th:replace="~{fragments/common :: footer}"></footer>
<script src="/js/main.js"></script>
</html>

